@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {    
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Roboto', sans-serif;
    background: linear-gradient(#090401, #271405);
    color: white;
    line-height: 1.5;
}

header {
    background-color: #111;
    padding: 0.5rem;
}

a, a:visited {
    text-decoration: none;
    color: white;
}

a:hover, a:focus {
    color: hsla(0, 0%, 100%, 0.8);
}

header nav ul {
    text-align: right;
}


#cta {
    
    background: linear-gradient(to right, #bb8d37, #c89b50, #ebb875);
    padding: 1rem;
    border-radius: 5px;
    color: #222111;
    font-weight: 600;
}

#cta:hover, #cta a:hover {
    background: linear-gradient(to right, #d49e38, #c99a49, #dfa65b);
    color: #111;
    transition: all 0.5s;

}

#hero {
    background-image: url('images/bg3.webp');
    background-repeat: no-repeat;
    background-size: cover;
    height: 76vh;
    text-align: center;
}

h1 {
    padding: 8%;
    font-size: 4rem;
}

h2 {
    font-size: 1.5rem;
}

p {
    font-size: 1.2rem;
}

#hero h2 {
    padding: 5%;
    font-size: 2rem;
}

#about {
    background-image: url('images/bg4.png'), linear-gradient(#090401, #271405);
    background-size: cover;
    padding-bottom: 2rem;
}

footer {
    text-align: center;
    background-color: #111;
    background-image: linear-gradient(
  135deg,
  hsl(0deg 0% 2%) 0%,
  hsl(32deg 26% 11%) 54%,
  hsl(33deg 33% 19%) 75%,
  hsl(33deg 36% 27%) 86%,
  hsl(34deg 38% 35%) 92%,
  hsl(34deg 40% 43%) 96%,
  hsl(34deg 45% 52%) 99%,
  hsl(34deg 67% 62%) 100%
);
    padding: 2rem;
}

footer p {
    margin: 2em auto 0;
    font-size: 1rem;
}


nav li {
    display: inline-block;
    padding: 1rem;
}

header img {
    height: 25px;
    width: 100px;
    float: left;
    margin: 0.9em 3em;
}

header nav {
    padding-inline: 3rem;
}


article {
    padding: 2rem 2rem;
}

.article_style {
    margin: 0 1rem 0;
    background-color: rgba(54, 53, 53, 0.5);
    width: 47%;
    padding: 1.5em;
    border-radius: 10px;
}


iframe {
    width: 100%;
    height: max(35vh, 35vw);
    border: none;
}

.box {
    display: flex;
    gap: 1.5rem;
    justify-content: space-evenly;
    align-items: flex-start;
    flex-wrap: wrap;
}

input, button, text, select {
    font: inherit;
}

fieldset {
    border-radius: 10px;
    padding: 1.5rem;
    margin: 1rem 0;
}



