@font-face {
    font-family: 'Roboto';
    font-weight: 400;
    src: url('font/roboto-regular-webfont.woff2') format(woff2), url('font/roboto-regular-webfont.woff') format(woff);
}

/* || RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

input, button, textarea {
    font: inherit;
}

/* || VARIABLES */
:root {
    /* FONTS */
    --FF: 'Roboto', sans-serif;
    --FS: clamp(1rem, 2.2vh, 1.5rem);
    --HERO-H1: clamp(2rem, 10vw, 4rem);
    --HERO-H2: clamp(1rem, 7.5vw, 2rem);

    /* COLORS */
    --BG-COLOR: #2c1406;
    --BG-IMAGE: linear-gradient(#1a1a1a,  var(--BG-COLOR));
    --FONT-COLOR: whitesmoke;
    --HEADER-BG-COLOR: #111;
    --HEADER-COLOR: rgba(240, 240, 240);
    --FOOTER-IMAGE: linear-gradient(
        115deg,
        hsl(0deg 0% 7%) 0%,
        hsl(18deg 10% 7%) 10%,
        hsl(19deg 19% 8%) 20%,
        hsl(19deg 26% 8%) 30%,
        hsl(20deg 33% 8%) 40%,
        hsl(21deg 40% 8%) 50%,
        hsl(20deg 33% 8%) 60%,
        hsl(19deg 26% 8%) 70%,
        hsl(19deg 18% 8%) 80%,
        hsl(18deg 10% 7%) 90%,
        hsl(0deg 0% 7%) 100%
      );
    --LINK-HOVER: rgb(195, 185, 185);
    --LINK-ACTIVE: rgb(255, 187, 156);

}

/* || UTILITY CLASSES */
.offscreen {
    position: absolute;
    left: -10000px;
}

.nowrap {
    white-space: nowrap;
}

.center {
    text-align: center;
}


/* || GENERAL STYLE */
html {
    scroll-behavior: smooth;
    font-family: var(--FF);
    font-size: var(--FS);
    background-color: var(--BG-COLOR);
    background-image: var(--BG-IMAGE);
}

body {
    color: var(--FONT-COLOR);
    line-height: 1.5;
    min-height: 100vh;
}



h1, h2, p {
    margin: 0.5em;
}

iframe {
    width: 100%;
    height: max(35vh, 35vw);
    border: none;
}

a:any-link {
    color: var(--HEADER-COLOR);
    text-decoration: none;
} 

a:hover, a:focus {
    color: var(--LINK-HOVER);
}

a:active {
    color: var(--LINK-ACTIVE);
}

/* || HEADER */
.header {
    width: 100%;
    position: static;
}

.header__logo {
    height: 25px;
    width: auto;
}

.header__title-line {
    background-color: var(--HEADER-BG-COLOR);
    padding: 1.5em 1.5em;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}

.menu-button {
    background-color: transparent;
    border: none;
    width: 25px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.close-menu-button {
    display: none;
    background-color: transparent;
    outline: none;
    border: none;
    position: absolute;
    top: 1rem;
    right: 1.5rem;
    width: 25px;
    height: 25px;
}

.menu-button:hover, .close-menu-button:hover {
    cursor: pointer;
}

.menu-icon, .menu-icon::before, .menu-icon::after {
    background-color: var(--HEADER-COLOR);
    width: 24px;
    height: 2.5px;
    border-radius: 2px;
    position: absolute;
    transition: all 0.5s;
}

.menu-icon::before, .menu-icon::after {
    content: "";
}

.menu-icon::before {
    transform: translate(-12px, -8px);
}

.menu-icon::after {
    transform: translate(-12px, +8px);
}

.header:focus-within .menu-icon {
    background-color: transparent;
    transform: rotate(360deg);
}

.header:focus-within .menu-icon::before {
    transform: translateX(-12px) rotate(45deg);
}

.header:focus-within .menu-icon::after {
    transform: translateX(-12px) rotate(-45deg);
}

.header__nav {
    display: none;
    position: relative;
    
}

.header:focus-within .header__nav {
    display: block;
    transform-origin: top center;
    animation: showMenu 0.5s ease-in-out forwards;
} 

.header:focus-within .close-menu-button {
    display: block;
}

.header:focus-within .close-menu-button:focus {
    transform: translateX(-50px);
}

.close-menu-button:focus+.header__nav {
    transform-origin: top center;
    animation: hideMenu 0.5s ease forwards;
}

@keyframes showMenu {
    0% {
        transform: scaleY(0);
    }

    80% {
        transform: scaleY(1.2);
    }

    100% {
        transform: scaleY(1);
    }
}

@keyframes hideMenu {
    0% {
        transform: scaleY(1);
    }

    20% {
        transform: scaleY(1.2);
    }

    100% {
        transform: scaleY(0);
    }
}

.header__ul {
    position: absolute;
    width: 100%;
    top: 0;
    z-index: 1;
    list-style-type: none;
    display: flex;
    flex-flow: column nowrap;
}

.header__nav li {
    background-color: var(--HEADER-BG-COLOR);
    padding: 1.5rem;
    border-top: 1px solid var(--HEADER-COLOR);
}

.header__nav a {
    display: block;
    text-align: center;
    width: 80%;
    margin: auto;
    order: -1;
}

.header__nav a:hover, .header__nav a:focus {
    transform: scale(1.2);
    transition: all 0.3s;
}

li .call-to-action {
    background: linear-gradient(to right, #bb8d37, #c89b50, #ebb875);
    padding: 0.5rem;
    border-radius: 5px;
    color: #222111;
    font-weight: 600;
    width: 60%;
}



/* || FOOTER */
.footer {
    text-align: center;
    padding: 0.5em;
    background-color: var(--HEADER-BG-COLOR);
    background-image: var(--FOOTER-IMAGE);
    font-weight: 100; 
}

.footer__nav ul li {
    list-style-type: none;
    display: inline-block;
    margin: 1em;
}

.footer p {
    margin: 1em;
}

/* || HERO */
.hero {
    min-height: 75vh;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    background-image: url('images/bg3-mobile.webp');
    background-size: cover;
}

.hero__h1 {
    text-align: center;
    font-size: var(--HERO-H1);
    padding: 0.5em;
    margin: 1em 0.5em;
}

.hero__h2 {
    margin: 1em 0.5em;
    font-size: var(--HERO-H2);
    text-align: center;
}


@media screen and (min-width: 992px) {
    .hero {
        background-image: url('images/bg3.webp');
    }

    .header {
        background-color: var(--HEADER-BG-COLOR);
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .header__title-line {
        padding: 1.5em;
        display: inline-block;
    }
    
    .menu-button {
        display: none;
    }
    
    .close-menu-button {
        display: none;
    }
    
    .header__nav {
        display: inline-block;
        position: static;
    }
    
    .header:focus-within .header__nav {
        animation: none;
    } 
    
    
    .close-menu-button:focus+.header__nav {
        animation: none;
    }
     
    .header__ul {
        position: static;
        display: block;
        text-align: right;
    }
    
    .header__nav li {
        background-color: var(--HEADER-BG-COLOR);
        padding: 1.5rem;
        border-top: none;
        display: inline-block;
    }
    
    .header__nav a {
        display: block;
        text-align: center;
        width: 100%;
    }
    
    .header__nav a:hover, .header__nav a:focus {
        transform: none;
    } 
}

@media screen and (max-height: 430px) and (min-width: 768px)  and (min-aspect-ratio: 7/4) {
    .hero {
        background-image: url('images/bg3.webp');
    }

    .header {
        background-color: var(--HEADER-BG-COLOR);
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .header__title-line {
        padding: 1.5em;
        display: inline-block;
    }
    
    .menu-button {
        display: none;
    }
    
    .close-menu-button {
        display: none;
    }
    
    .header__nav {
        display: inline-block;
        position: static;
    }
    
    .header:focus-within .header__nav {
        animation: none;
    } 
    
    
    .close-menu-button:focus+.header__nav {
        animation: none;
    }
     
    .header__ul {
        position: static;
        display: block;
        text-align: right;
    }
    
    .header__nav li {
        background-color: var(--HEADER-BG-COLOR);
        padding: 1.5rem;
        border-top: none;
        display: inline-block;
    }
    
    .header__nav a {
        display: block;
        text-align: center;
        width: 100%;
    }
    
    .header__nav a:hover, .header__nav a:focus {
        transform: none;
    } 
} 