@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --background: #000;
    --table-border-radius: 5px;
    --font-color: #fff;
    --accent-1: #232323e6;
    --accent-2: #1e1e1e;
    --accent-3: #575757;
    --reminder-text: #1e1e1e;
    --reminder-color: rgb(165, 165, 165);
    --error-red: #FC6161;
    --error-green: #68FF68;

    /*Size*/
    --scale: 1;
}

html {
    font-family: "Roboto", Arial, sans-serif;
    font-weight: 700;
    background-color: var(--background);
    color: var(--font-color);
    font-size: calc(1rem * var(--scale));
}

button img {
    width: calc(16px * var(--scale));
    height: calc(16px * var(--scale));
}

.logo {
    height: calc(50px * var(--scale));
}

h1 {
    font-size: 1.5rem;
}

a {
    color: var(--font-color);
}

section {
    width: calc(230px * var(--scale));
    border-radius: 0;
    background-color: var(--accent-1);
    padding: calc(5px * var(--scale)) calc(15px * var(--scale)) calc(5px * var(--scale));
    position: relative;
    transition: all 0.2s;
}

.title {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: calc(10px * var(--scale)) 0;
}

section h1 {
    text-align: center;
    margin-left: calc(5px * var(--scale));
}

table {
    display: grid;
    grid-template-columns: 1fr 2fr;
    padding: calc(5px * var(--scale));
}

thead, tbody, tfoot, tr {
    display: contents;
}

td {
    padding: calc(2.5px * var(--scale)) calc(5px * var(--scale));
    margin: calc(2.5px * var(--scale)) 0;
    font-size: 1rem;
}

.table__time {
    text-align: right;
}

.table__footer {
    font-size: 0.85rem;
    font-weight: 500;
    text-align: center;
    grid-column: 1 / span 2;
    margin-top: calc(5px * var(--scale));
}

.table_reminder {
    font-weight: 900;
    font-size: 1.1rem;
    background-color: var(--reminder-color);
    color: var(--reminder-text);
    margin: 0 0 calc(10px * var(--scale));
    padding: calc(5px * var(--scale));
}

.boder_left {
    border-radius: var(--table-border-radius) 0 0 var(--table-border-radius);
}

.boder_right {
    border-radius: 0 var(--table-border-radius) var(--table-border-radius) 0;
}

.line {
    background-color: var(--font-color);
    height: calc(2px * var(--scale));
}

.no-margin-padding {
    margin: calc(3px * var(--scale)) 0;
    padding: 0;
}

.hidden {
    display: none;
}

.setting {
    text-align: center;
    font-size: 0.8rem;
    font-weight: 500;
    margin-top: calc(4px * var(--scale));
}

.settings-icon-div {
    position: absolute;
    top: calc(8px * var(--scale));
    left: calc(8px * var(--scale));
}

.theme-icon-div {
    position: absolute;
    top: calc(8px * var(--scale));
    right: calc(8px * var(--scale));
}

.settings-button {
    width: calc(16px * var(--scale));
    height: calc(16px * var(--scale));
    background-color: transparent;
    border: 0;
    box-shadow: 0;
    border-radius: calc(10px * var(--scale));
    filter: brightness(0.9);
}

.settings-button:hover {
    border-radius: calc(10px * var(--scale));
    transform: scale(1.15);
    filter: brightness(1);
    transition: all 0.3s;
}

.settings-button:active {
    transform: scale(0.85);
    filter: brightness(0.8);
    transition: all 0.3s;
}

.darken {
    filter: brightness(0.5);
}

#geocodeForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

input, form, button, select {
    font: inherit;
    text-align: center;
}

input {
    width: calc(100% - calc(15px * var(--scale)));
    height: 1.5rem;
    box-shadow: 0;
    outline: 0;
    border: 1px solid var(--background);
}

label {
    font-weight: 600;
}

form button, select {
    width: calc(100px * var(--scale));
    border-radius: calc(5px * var(--scale));
    font-weight: bold;
}

#setZoom {
    width: calc(40px * var(--scale));
}

form button:active {
    filter: brightness(90%);
    transform: scale(95%);
    transition: all 0.1s;
}

#errorMessage {
    width: calc(100% - calc(15px * var(--scale)));
    font-size: 1rem;
    font-weight: bold;
    margin: calc(10px * var(--scale)) auto;
}

#currentLocation {
    margin-top: calc(5px * var(--scale));
    color: var(--error-green);
    font-style: italic;
    font-weight: 900;
}

.small {
    font-size: 0.45rem;
    text-align: right;
    margin-right: calc(2.5px * var(--scale));
    margin-top: calc(-2.5px * var(--scale));
    font-weight: 800;
}

.darken-bg {
    background-color: var(--accent-2);
    transition: all 0.3s;
}

#address { 
    margin: calc(10px * var(--scale)) 0 0; 
}

#suggestions {
    width: calc(100% - calc(15px * var(--scale)));
    margin-top: 0;
    margin-bottom: calc(10px * var(--scale));
    border: 1px solid var(--background);
    border-top: 0;
}

#suggestions div {
    padding: calc(5px * var(--scale)); 
    cursor: pointer; 
    background-color: var(--accent-3);
}

#suggestions div:hover {
    color: var(--accent-1);
    background-color: var(--font-color);
    border: 1px solid var(--background);
}

.setting-div {
    margin: 1.5em auto;
    width: calc(100% - calc(15px * var(--scale)));;
    background-color: var(--font-color);
    height: calc(0px * var(--scale));
}

.margin {
    margin-top: 0.75em;
}

.full-width {
    background-color: var(--font-color);
    height: calc(2px * var(--scale));
    width: calc(230px * var(--scale));
    margin: 1.5em auto;
    margin-left: calc(-15px * var(--scale));
}